/*  general css */
*{
    margin: center;
    padding: 0;
    box-sizing: content-box;
}


body {
    font-family: "poppins", sans-serif ;
    background-color: #FFF5EE;
    color: #17100f;
}


.hero  {
    text-align: center;
    padding: 30px;
}


.image {
    width: 10%;
    height: auto;
}



.hero h1 {
text-align: center;
padding:20px ;
margin-top: -20px;
}


.hero p {
    margin-top: -30px;
    margin-bottom: 20px;
}


.btn {
    background-color: #ff4d00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 30px;
    border-color: white;
    transition: background-color:0.3s, transform 0.3s;
    padding: 15px 25px;
}
.btn:hover {
background-color: #ff4d00;
transform: scale(1.05);
}


.aboutAsBotton {
    background-color: #ff4d00;
     color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 15px;
    border-color: white;
    transition: background-color:0.3s, transform 0.3s;
    padding: 10px 40px;
    
}

.aboutAsBotton:hover {
background-color: #ff4d00;
transform: scale(1.05);

}


.aboutBtn {
    text-align: center;
}


footer{
    padding: 50px,20px,10px,20px;
    text-align: center;
}


/* Card css*/

.food-image{
   width: 500px;
   height: 540px;
   border-radius: 20px 0px 0px 0px;
   margin: -30px;
   margin-top: 0px;
   
}
.youtbe-icon{
    width: 6%;
    height: 30x;
    padding-bottom: 10px;
}

#video-post{
   display:flex;
   gap: 10px;
}

.container{
    display: flex;
    gap:55px;
    
    
    background-color: #ffd390;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 30px;
    width: 85%;
    border-radius: 20px;
    
}


.Recipe-container{
   width: 500px;
   height:4%;
}
.Recipe-container li::marker{
   color: e63846;
   font-weight: bold;
   font-size: large;
}
p{
    /* background-color: blue; */
    margin-left: 0;
}
/* .Recipe-container{
   width: 500px;
   height:4%;
} */
.recipe{
    display: flex;
    gap: 25px;
    padding: 5px 16px;
    margin-right: 10px;
}
.Recipe-container h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.items-flex{
   gap: 20px;
   display: flex;
}

.type{
    background-color: #ffefd5;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    color: #d35400;
    margin-top: 6px;
}
.country{
     background-color: #ffe6f0;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    color: #c2185b;
    margin-top: 6px;
}
