/*  general css */
*{
    margin: center;
    padding: 0;
    box-sizing: content-box;
}


body {
    font-family: "poppins", sans-serif ;
    background-color: #FFF5EE;
    color: #17100f;
}


.hero  {
    text-align: center;
    padding: 30px;
}


.image {
    width: 10%;
    height: auto;
}



.hero h1 {
text-align: center;
padding:20px ;
margin-top: -20px;
}


.hero p {
    margin-top: -30px;
    margin-bottom: 20px;
}


.btn {
    background-color: #ff4d00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 30px;
    border-color: white;
    transition: background-color:0.3s, transform 0.3s;
    padding: 15px 25px;
}
.btn:hover {
background-color: #ff4d00;
transform: scale(1.05);
}


.aboutAsBotton {
    background-color: #ff4d00;
     color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 15px;
    border-color: white;
    transition: background-color:0.3s, transform 0.3s;
    padding: 10px 40px;
    
}

.aboutAsBotton:hover {
background-color: #ff4d00;
transform: scale(1.05);

}


.aboutBtn {
    text-align: center;
}


footer{
    padding: 50px,20px,10px,20px;
    text-align: center;
}


/* Card css*/

.food-image{
   width: 470px;
   height: 540px;
   border-radius: 20px 0px 0px 0px;
}
.youtbe-icon{
    width: 6%;
    height: 30x;
    padding-bottom: 10px;
}

#video-post{
   display:flex;
   gap: 10px;
}

.container{
    display: flex;
    gap:30px;
    margin: 110px;
    padding-bottom: 40px;
    background-color: #ffd390;
    margin: 14%;
    border-radius: 20px;
    margin-top: 20px;
}
.Recipe-container{
   width: 500px;
   height:4%;
}
.recipe{
    display: flex;
    gap: 25px;
}

